html {
    scroll-behavior: smooth; /* agar ketika klik link di daftar isi dan pindah ke element yang dituju, perpindahannya menjadi lebih smooth*/
}

body {
    width: 70%;
    margin: auto;
    line-height: 1.5;
    font-size: 20px;
    font-family: sans-serif;
}

img {
    width: 100%;
    height: auto;  
}

.main {
    text-align: left;
    font-family: sans-serif;
}

.content {
    width: 100%;
    font-size: 20px;
    color: #4d4d4d;
    line-height: 1.8;
}

.main p {
    font-size: 16px;
}

.html-adalah {
    font-family: sans-serif;
    font-size: 20px;
}

.box-isi {
    width: 60%;
    background-color: #efefef;
    padding: 20px 20px;
    border: 1px solid;
    font-size: 16px;
}

.box-isi a {
    text-decoration: none;
}

.box-isi a:hover {
    border-bottom-style: dotted;
    border-width: 1px;
}

.item-list{
    color: blue;
    margin-left: 20px;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    margin-bottom: 40px;
    width: 100%;
    font-family:Verdana,Tahoma, sans-serif;
}

tr,thead {
    color: rgb(53, 52, 52);
}

td {
    font-weight: bold;
    border: 1px solid black;
  }
  
th {
    border: 1px solid black;
    text-align: left;
}
  
th,td {
    padding: 10px;
    font-size: 60%;
}

tr:hover {
    background-color: #726f6f;
}

.genap {
    background-color:rgb(163, 163, 163);
}

.genap:hover {
    background-color: #d9cfcf;
}